<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".dae" mimeType="text/plain" />
            <mimeMap fileExtension=".mtl" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>
